<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <!--<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/top</property>-->
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/mpp</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>
    <!--                    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/wecareen_wecaredb</property>
    <property name="hibernate.connection.username">wecareen_user</property>
    <property name="hibernate.connection.password">PnhGCHAQWDKk</property>-->
    <property name="connection.autoReconnect">true</property>
    <property name="connection.autoReconnectForPools">true</property>
    <property name="connection.is-connection-validation-required">true</property>
    <property name="hibernate.connection.pool_size">10</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="hibernate.connection.autocommit">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <!-- <mapping class="Com.Member.Model.MemberModel"/>
    <mapping class="Com.Admin.Model.EnquiryModel"/>-->
    <mapping class="Com.Admin.Model.AdminModel"/>
    <mapping class="Com.Admin.Model.CategoryModel"/>
    <mapping class="Com.Admin.Model.ProductModel"/>
    <mapping class="Com.Admin.Model.CustDetailsModel"/>
    <mapping class="Com.Admin.Model.BillDetailsModel"/>
    <mapping class="Com.Admin.Model.CartModel"/>
    <mapping class="Com.Admin.Model.SalesModel"/>
    <mapping class="Com.Admin.Model.SaleProductModel"/>
  </session-factory>
</hibernate-configuration>
